{% extends 'layout/base.html' %}
{% load static %}
{% block id %}id=id="about-us" class="blog"{% endblock %}
{% block title %}About{% endblock %}
{% block content %}
		<!-- main content -->
		<div class="main-content">
			<div id="wrapper-site">
				<div id="content-wrapper">

                <!-- breadcrumb -->
                <nav class="breadcrumb-bg">
                    <div class="container no-index">
                        <div class="breadcrumb">
                            <ol>
                                <li>
                                    <a href="{% url 'pages:home' %}">
                                        <span></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'pages:about' %}">
                                        <span></span>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </nav>
                <div id="main">
                    <div class="page-home">
                        <div class="container">
                            <div class="about-us-content">

                                <h1 class="title-page">{{ pages.title }}</h1>
                                <div class="row">
                                    {% for about in abouts %}
                                        <div class="col-lg-6 col-md-6 col-sm-6 right">
                                            <a href="#">
                                                <img class="img-fluid" src="{{ about.image.url }}" alt="#" />
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 left">
                                        <div class="cms-block f-right">
                                            <h3 class="page-subheading">{{ about.title }}</h3>
                                            <p>{{ about.content }}</p>
                                            <a>
                                                <img class="img-fluid" src="{% static  'img/other/4.png' %}" alt="#" />
                                                <span>{{ about.title }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}