{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% block id %}id="blog-detail" class="blog"{% endblock %}
{% block title %}{{ blog.title }}{% endblock %}
{% block content %}
    <!-- main content -->
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="{% url 'pages:home' %}">
                                                <span>{% trans 'Home' %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'products:grid' %}">
                                                <span>{% trans 'Living Room' %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'blogs:list' %}">
                                                <span>{% trans 'Blog' %}</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                        <!-- category -->
                                        <div class="sidebar-block">
                                            <div class="title-block">{% trans 'Categories' %}</div>
                                            <div class="block-content">
                                                {% for cat in categories %}
                                                    <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#livingroom" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                    <a class="cateItem" href="#">{{ cat.title }}</a>
                                                    <div class="subCategory collapse" id="livingroom" aria-expanded="true" role="status">
                                                        {% for cat in category.all %}
                                                            {% if forloop.last %}
                                                                <div class="cateTitle">
                                                            <a href="#" class="cateItem">{{ cat.title }}</a>
                                                            <div class="subCategory collapse" id="subCategory-fruits" aria-expanded="true" role="status">
                                                                <div class="cateTitle">
                                                                    <a href="#" class="cateItem">{{ cat.title }}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>




                                        <!-- product tag -->
                                        <div class="sidebar-block product-tags">
                                            <div class="title-block">
                                                {% trans 'Blog Tags' %}
                                            </div>
                                            <div class="block-content">
                                                <ul class="listSidebarBlog list-unstyled">
                                                    {% for tag in tags %}
                                                        <li>
                                                        <a href="#" title="Show products matching tag Hot Trend">{{ tag.title }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- advertising -->
                                        <div class="sidebar-block group-image-special">
                                            <div class="effect">
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/blog/advertising.jpg' %}" alt="banner-2" title="banner-2">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                        <h3>{{ blog.title }}</h3>
                                        <div class="hover-after">
                                            <img src="{{ blog.image1.url }}" alt="img" class="img-fluid">
                                        </div>
                                        <div class="late-item">
                                            <p>{{ blog.content1 }}</p>
                                            <p>
                                                {{ blog.content2 }}
                                            </p>
                                            <p class="content-title">{{ blog.title }}:</p>
                                            <p>
                                                {{ blog.content1 }}
                                            </p>
                                            <div class="spacing-10 group-image-special">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 p-left">
                                                            <div class="effect">
                                                                <img class="img-fluid" src="{{ blog.image1.url }}" alt="banner-1" title="banner-1">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 p-right">
                                                            <div class="effect">
                                                                <img class="img-fluid" src="{{ blog.image2.url }}" alt="banner-2" title="banner-2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                {{ blog.content1 }}
                                            </p>
                                            <p>
                                               {{ blog.content2 }}
                                            </p>
                                            <div class="border-detail">
                                                <p class="post-info float-left">
                                                    <span>{{ blog.views_count }} views</span>
                                                    <span>113 Comments</span>
                                                    <span>TIVATHEME</span>
                                                </p>
                                                <div class="btn-group">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-share"></i>
                                                        <span>Share</span>
                                                    </a>
                                                    <a href="#" class="email">
                                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                                        <span>{% trans 'SEN TO A FRIEND' %}</span>
                                                    </a>
                                                    <a href="#" class="print">
                                                        <i class="zmdi zmdi-print"></i>
                                                        <span>{% trans 'Print' %}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="admin">
                                            <img src="{% static 'img/blog/user.jpg' %}" alt="img" class="float-left right">
                                            <div class="info">
                                                <p>
                                                    <a href="#">
                                                        <span class="content-title">
                                                            {{ blog.author.full_name }}
                                                        </span>
                                                    </a>
                                                    <span>{% trans 'Administrator, Web Designer' %}</span>
                                                </p>
                                                <p class="descript">
                                                    {{ blog.author.bio }}
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}